/**
* Set custom variables here
*
*/


//font-related
$huge: 48px;
$fontsize: 1em;

//colors
$black: #111;
$fancy: #bada55;
$white: #f0f0f0;

//border-related
$border_radius: 8px;
$border_basic: 1px solid black;

//box-related
$base_box_value: 15px;
$base_box_value_inv: -15px;